# 1ë¶€. ê¸°ì´ˆí¸ ë°ì´í„° ê°€ê³µ
## 02ì¥. ëŒ€ë¦¬ì  ë°ì´í„°ë¥¼ ê°€ê³µí•˜ëŠ” í…Œí¬ë‹‰ 1ì œ

## ğŸ“£ ê³ ê°ì˜ ì†Œë¦¬
ìš°ë¦¬ íšŒì‚¬ì—ì„œëŠ” ê³ ê° ì •ë³´ë¥¼ ì—‘ì…€ë¡œ ê´€ë¦¬í•©ë‹ˆë‹¤. ì¥ì‚¬ëŠ” ì˜ë˜ê³  ëŒ€ë¦¬ì ì˜ ë§¤ì¶œë„ ì•ˆì •ì ì…ë‹ˆë‹¤.

ë°ì´í„°ê°€ í’ë¶€í•  ë•Œ ë°ì´í„° ë¶„ì„ì„ í•´ë‘ë©´ ì—¬ëŸ¬ê°€ì§€ ë°œê²¬ì„ í•  ìˆ˜ ìˆì§€ ì•Šì„ê°€ í•©ë‹ˆë‹¤.

ì‹œí—˜ ì‚¼ì•„ ë°ì´í„° ë¶„ì„ì„ ë¶€íƒë“œë¦½ë‹ˆë‹¤.

<br>

## ğŸ“ ì „ì œì¡°ê±´

í•´ë‹¹ ëŒ€ë¦¬ì ì—ì„œëŠ” ìƒí’ˆ A ~ Zê¹Œì§€ 26ê°œì˜ ìƒí’ˆì„ ì·¨ê¸‰í•˜ë©°, ë§¤ì¶œ ì´ë ¥ê³¼ ê³ ê°ì •ë³´ ë°ì´í„°ëŠ” 

ë‹´ë‹¹ì‚¬ì›ì´ ì‹œìŠ¤í…œì— ì§ì ‘ ì…ë ¥í•œë‹¤. ì§‘ê³„ ê¸°ê°„ì— ìƒí’ˆ ë‹¨ê°€ì˜ ë³€ë™ì€ ì—†ì—ˆê³  ë§¤ì¶œ ì´ë ¥ì€ ì‹œìŠ¤í…œì—ì„œ

CSV íŒŒì¼ë¡œ ì¶œë ¥í–ˆìŠµë‹ˆë‹¤. ê³ ê° ì •ë³´ëŠ” ëŒ€ë¦¬ì  ê´€ë¦¬ìê°€ ì£¼ë³„ë¡œ ì§‘ê³„í•´ì„œ ì—‘ì…€ë¡œ ê´€ë¦¬í•œë‹¤.

In [96]:

import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from tqdm import tqdm_notebook
from IPython.core.display import display, HTML  # í™”ë©´í¬ê¸° ì¡°ì ˆ
display(HTML("<style>.container { width: 75% !important; }</style>"))

import tensorflow as tf
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential

### 011. ë°ì´í„°ë¥¼ ì½ì–´ ë“¤ì´ì

In [97]:

# ë§¤ì¶œ ì´ë ¥ ë°ì´í„°
uriage_data = pd.read_csv("/Users/jeongjihwan/Downloads/pyda100-master/2á„Œá…¡á†¼/uriage.csv")
uriage_data.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       ìƒí’ˆA       100.0           ê¹€ê°€ì˜¨
1  2019-07-13 13:05     ìƒ í’ˆ S         NaN           ê¹€ìš°ì°¬
2  2019-05-11 19:42     ìƒ í’ˆ a         NaN           ê¹€ìœ ì°¬
3  2019-02-12 23:40       ìƒí’ˆZ      2600.0           ê¹€ì¬í˜„
4   2019-04-22 3:09       ìƒí’ˆa         NaN           ê¹€ê°•í˜„

In [98]:

# ê³ ê° ì •ë³´ ë°ì´í„°
kokyaku_data = pd.read_excel("/Users/jeongjihwan/Downloads/pyda100-master/2á„Œá…¡á†¼/kokyaku_daicho.xlsx")
kokyaku_data.head()

   ê³ ê°ì´ë¦„  ì§€ì—­                  ë“±ë¡ì¼
0  ê¹€ í˜„ì„±  Hì‹œ  2018-01-04 00:00:00
1  ê¹€ ë„ìœ¤  Eì‹œ                42782
2  ê¹€ ì§€í•œ  Aì‹œ  2018-01-07 00:00:00
3  ê¹€ í•˜ìœ¤  Fì‹œ                42872
4  ê¹€ ì‹œì˜¨  Eì‹œ                43127

* ìˆ˜ì‘ì—…ìœ¼ë¡œ ì‘ì„±ëœ ë°ì´í„°ëŠ” ë°ì´í„°ì˜ ì •í•©ì„± ë¬¸ì œ ë°œìƒ(ì…ë ¥ ì˜¤ë¥˜ ë° í¬ë§· ì°¨ì´ ë“±)

### 012. ë°ì´í„°ì˜ ì˜¤ë¥˜ë¥¼ ì‚´í´ë³´ì

In [99]:

uriage_data["item_name"].head()

0      ìƒí’ˆA
1    ìƒ í’ˆ S
2    ìƒ í’ˆ a
3      ìƒí’ˆZ
4      ìƒí’ˆa
Name: item_name, dtype: object

* ì´ë ‡ê²Œ ë˜ë©´ ìƒí’ˆAì™€ ìƒ í’ˆ a, ìƒí’ˆ a ëª¨ë‘ ë‹¤ë¥¸ ìƒí’ˆìœ¼ë¡œ ì§‘ê³„ë˜ì–´ ì˜ëª»ëœ ë¶„ì„ì„ í•˜ê²Œë¨.

In [100]:

uriage_data["item_price"].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

* ì§‘ê³„ ëŒ€ìƒ ë°ì´í„°ì— ì˜¤ë¥˜ ë° ê²°ì¸¡ì¹˜ê°€ ìˆìœ¼ë©´ ì •í™•í•œ ì§‘ê³„ê°€ ë¶ˆê°€ëŠ¥.

### 013. ë°ì´í„°ì— ì˜¤ë¥˜ê°€ ìˆëŠ” ìƒíƒœë¡œ ì¼ë‹¨ ì§‘ê³„ í•´ë³´ì.

* ë°ì´í„°ì˜ ì˜¤ë¥˜ê°€ ì§‘ê³„ì— ì–´ëŠ ì •ë„ ì˜í–¥ì„ ë¯¸ì¹˜ëŠ”ì§€ ì¼ë‹¨ í™•ì¸

In [101]:

uriage_data["purchase_date"] = pd.to_datetime(uriage_data["purchase_date"])
uriage_data["purchase_month"] = uriage_data["purchase_date"].dt.strftime("%Y%m")
res = uriage_data.pivot_table(index="purchase_month", columns="item_name", aggfunc="size", fill_value=0)  # fill_value=0 -> NaNê°’ì€ 0ìœ¼ë¡œ ë‚˜íƒ€ëƒ„
res

item_name,ìƒ í’ˆ n,ìƒí’ˆ E,ìƒí’ˆ M,ìƒí’ˆ P,ìƒí’ˆ S,ìƒí’ˆ W,ìƒí’ˆ X,ìƒí’ˆW,ìƒ í’ˆO,ìƒ í’ˆQ,...,ìƒí’ˆk,ìƒí’ˆl,ìƒí’ˆo,ìƒí’ˆp,ìƒí’ˆr,ìƒí’ˆs,ìƒí’ˆt,ìƒí’ˆv,ìƒí’ˆx,ìƒí’ˆy
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,1,0,0
201903,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0
201905,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
201906,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
201907,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,2,0,0,0,0,0

* ë°ì´í„°í”„ë ˆì„ ê²°ê³¼ì—ì„œ í™•ì¸í•  ìˆ˜ ìˆë“¯ì´ ìƒí’ˆsê³¼ ìƒí’ˆ Sì´ ì„œë¡œ ë‹¤ë¥¸ ìƒí’ˆìœ¼ë¡œ ì§‘ê³„ë˜ê³  ìˆìŒ.


* ì›ë˜ ìƒí’ˆì€ 26ê°œì¸ë° 99ê°œë¡œ ë‚˜íƒ€ë‚˜ê³  ìˆìŒ.

In [102]:

# ê°€ë¡œì¶•ì— item_priceë¥¼ ì„¤ì •
res = uriage_data.pivot_table(index="purchase_month",
                              columns="item_name",
                              values="item_price",
                              aggfunc="sum",
                              fill_value=0)  # fill_value=0 -> NaNê°’ì€ 0ìœ¼ë¡œ ë‚˜íƒ€ëƒ„
res

item_name,ìƒ í’ˆ n,ìƒí’ˆ E,ìƒí’ˆ M,ìƒí’ˆ P,ìƒí’ˆ S,ìƒí’ˆ W,ìƒí’ˆ X,ìƒí’ˆW,ìƒ í’ˆO,ìƒ í’ˆQ,...,ìƒí’ˆk,ìƒí’ˆl,ìƒí’ˆo,ìƒí’ˆp,ìƒí’ˆr,ìƒí’ˆs,ìƒí’ˆt,ìƒí’ˆv,ìƒí’ˆx,ìƒí’ˆy
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1400,0,0,0,0,0,0,0,0,0,...,1100,1200,1500,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,2400,0,0,0,...,0,0,0,0,0,1900,2000,2200,0,0
201903,0,500,1300,1600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,0,0,0,0,0,0,0,2300,0,1700,...,0,0,0,0,0,1900,0,0,0,0
201905,0,0,0,0,1900,0,0,0,0,0,...,0,1200,0,0,0,0,0,0,0,2500
201906,0,0,0,0,0,2300,0,0,0,0,...,0,0,0,1600,0,0,0,0,2400,0
201907,0,0,0,0,0,0,0,0,0,0,...,0,0,1500,0,1800,0,0,0,0,0

* ê²°êµ­ ìœ„ì˜ ê²°ê³¼ë„ ëª¨ë‘ ì˜ëª»ëœ ê²ƒì„.

### 014. ìƒí’ˆëª… ì˜¤ë¥˜ë¥¼ ìˆ˜ì •í•˜ì

In [103]:

print(len(pd.unique(uriage_data.item_name)))

99

In [104]:
uriage_data["item_name"]

0         ìƒí’ˆA
1       ìƒ í’ˆ S
2       ìƒ í’ˆ a
3         ìƒí’ˆZ
4         ìƒí’ˆa
        ...
2994      ìƒí’ˆY
2995      ìƒí’ˆM
2996      ìƒí’ˆQ
2997      ìƒí’ˆH
2998      ìƒí’ˆD
Name: item_name, Length: 2999, dtype: object

In [105]:

uriage_data["item_name"] = uriage_data["item_name"].str.upper()  # ì˜ì–´ ëª¨ë‘ ëŒ€ë¬¸ìë¡œ
uriage_data["item_name"] = uriage_data["item_name"].str.replace(" ", "")  # ë¬¸ìì—´ ê³µë°± ì—†ì• ê¸°
uriage_data.sort_values("item_name", ascending=True)

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:00       ìƒí’ˆA       100.0           ê¹€ê°€ì˜¨         201906
1748 2019-05-19 20:22:00       ìƒí’ˆA       100.0           ê¹€ì‹œí›ˆ         201905
223  2019-06-25 08:13:00       ìƒí’ˆA       100.0           ê¹€ìœ ì§„         201906
1742 2019-06-13 16:03:00       ìƒí’ˆA       100.0           ê¹€ê±´í¬         201906
1738 2019-02-10 00:28:00       ìƒí’ˆA       100.0           ê¹€í•˜ë‘         201902
...                  ...       ...         ...           ...            ...
2880 2019-04-22 00:36:00       ìƒí’ˆY         NaN           ê¹€ë™ìš±         201904
2881 2019-04-30 14:21:00       ìƒí’ˆY         NaN           ê¹€í•˜ì¤€         201904
1525 2019-01-24 10:27:00       ìƒí’ˆY      2500.0           ê¹€ë²”ì¤€         201901
1361 2019-05-28 13:45:00       ìƒí’ˆY      2500.0           ê¹€ìˆ˜í˜„         201905
3    2019-02-12 23:40:00       ìƒí’ˆZ      2600.0           ê¹€ì¬í˜„         201902

[2999 rows x 5 columns]

In [106]:
uriage_data["item_name"] = uriage_data["item_name"].str.replace(" ", "")

In [107]:

# ê²€ì¦
print(pd.unique(uriage_data.item_name))
print(len(pd.unique(uriage_data.item_name)))

['ìƒí’ˆA' 'ìƒí’ˆS' 'ìƒí’ˆZ' 'ìƒí’ˆV' 'ìƒí’ˆO' 'ìƒí’ˆU' 'ìƒí’ˆL' 'ìƒí’ˆC' 'ìƒí’ˆI' 'ìƒí’ˆR' 'ìƒí’ˆX' 'ìƒí’ˆG'
 'ìƒí’ˆP' 'ìƒí’ˆQ' 'ìƒí’ˆY' 'ìƒí’ˆN' 'ìƒí’ˆW' 'ìƒí’ˆE' 'ìƒí’ˆK' 'ìƒí’ˆB' 'ìƒí’ˆF' 'ìƒí’ˆD' 'ìƒí’ˆM' 'ìƒí’ˆH'
 'ìƒí’ˆT' 'ìƒí’ˆJ']
26

### 015. ê¸ˆì•¡ì˜ ê²°ì¸¡ì¹˜ë¥¼ ìˆ˜ì •í•˜ì

In [108]:

uriage_data.isnull().any(axis=0)  # any() -> í•˜ë‚˜ë¼ë„ Trueê°€ ìˆìœ¼ë©´ True ì¶œë ¥ <=> all()ì€ ëª¨ë‘ True ì—¬ì•¼ True ì¶œë ¥

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

* item_price ì¹¼ëŸ¼ì— ê²°ì¸¡ì¹˜ê°€ ìˆë‹¤ëŠ”ê±¸ ì•Œ ìˆ˜ ìˆìŒ

In [109]:
fig_is_null

0       False
1        True
2        True
3       False
4        True
        ...
2994    False
2995    False
2996     True
2997     True
2998    False
Name: item_price, Length: 2999, dtype: bool

In [110]:

fig_is_null = uriage_data["item_price"].isnull()
for trg in list(uriage_data.loc[fig_is_null, "item_name"].unique()):  # priceê°’ì´ Nullì¸ ê³ ìœ  ìƒí’ˆì´ë¦„ë“¤
    price = uriage_data.loc[(~fig_is_null) & (uriage_data["item_name"] == trg), "item_price"].values[0] # ~ì€ NOTì„ ì˜ë¯¸
    uriage_data['item_price'].loc[(fig_is_null) & (uriage_data["item_name"] == trg)] = price
    
    
uriage_data[["item_name", "item_price"]].head()

/opt/homebrew/Caskroom/miniforge/base/envs/tf/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

  item_name  item_price
0       ìƒí’ˆA       100.0
1       ìƒí’ˆS      1900.0
2       ìƒí’ˆA       100.0
3       ìƒí’ˆZ      2600.0
4       ìƒí’ˆA       100.0

* ê²°ì¸¡ priceê°€ ìˆëŠ” ìƒí’ˆì„ í•´ë‹¹ ìƒí’ˆì— ëŒ€í•œ ê°’ì´ ì˜¬ë°”ë¥´ê²Œ ì…ë ¥ë¼ìˆëŠ” priceë¥¼ ì°¾ì•„ ê·¸ ê°’ìœ¼ë¡œ ì±„ì›Œë„£ëŠ” ë°©ì‹.

In [111]:

uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price        False
customer_name     False
purchase_month    False
dtype: bool

* ë°©ì‹¬í•˜ì§€ ë§ê³  ê²€ì¦ì€ ë¬´ì¡°ê±´ ì§„í–‰í•œë‹¤.

In [112]:

for index, trg in enumerate(list(uriage_data["item_name"].sort_values().unique())):
    print(index, trg + "ì˜ ìµœê³ ê°€ : " + str(uriage_data.loc[uriage_data["item_name"] == trg]["item_price"].max())
         + "ì˜ ìµœì €ê°€ : " + str(uriage_data.loc[uriage_data["item_name"] == trg]["item_price"].min(skipna=False)))

0 ìƒí’ˆAì˜ ìµœê³ ê°€ : 100.0ì˜ ìµœì €ê°€ : 100.0
1 ìƒí’ˆBì˜ ìµœê³ ê°€ : 200.0ì˜ ìµœì €ê°€ : 200.0
2 ìƒí’ˆCì˜ ìµœê³ ê°€ : 300.0ì˜ ìµœì €ê°€ : 300.0
3 ìƒí’ˆDì˜ ìµœê³ ê°€ : 400.0ì˜ ìµœì €ê°€ : 400.0
4 ìƒí’ˆEì˜ ìµœê³ ê°€ : 500.0ì˜ ìµœì €ê°€ : 500.0
5 ìƒí’ˆFì˜ ìµœê³ ê°€ : 600.0ì˜ ìµœì €ê°€ : 600.0
6 ìƒí’ˆGì˜ ìµœê³ ê°€ : 700.0ì˜ ìµœì €ê°€ : 700.0
7 ìƒí’ˆHì˜ ìµœê³ ê°€ : 800.0ì˜ ìµœì €ê°€ : 800.0
8 ìƒí’ˆIì˜ ìµœê³ ê°€ : 900.0ì˜ ìµœì €ê°€ : 900.0
9 ìƒí’ˆJì˜ ìµœê³ ê°€ : 1000.0ì˜ ìµœì €ê°€ : 1000.0
10 ìƒí’ˆKì˜ ìµœê³ ê°€ : 1100.0ì˜ ìµœì €ê°€ : 1100.0
11 ìƒí’ˆLì˜ ìµœê³ ê°€ : 1200.0ì˜ ìµœì €ê°€ : 1200.0
12 ìƒí’ˆMì˜ ìµœê³ ê°€ : 1300.0ì˜ ìµœì €ê°€ : 1300.0
13 ìƒí’ˆNì˜ ìµœê³ ê°€ : 1400.0ì˜ ìµœì €ê°€ : 1400.0
14 ìƒí’ˆOì˜ ìµœê³ ê°€ : 1500.0ì˜ ìµœì €ê°€ : 1500.0
15 ìƒí’ˆPì˜ ìµœê³ ê°€ : 1600.0ì˜ ìµœì €ê°€ : 1600.0
16 ìƒí’ˆQì˜ ìµœê³ ê°€ : 1700.0ì˜ ìµœì €ê°€ : 1700.0
17 ìƒí’ˆRì˜ ìµœê³ ê°€ : 1800.0ì˜ ìµœì €ê°€ : 1800.0
18 ìƒí’ˆSì˜ ìµœê³ ê°€ : 1900.0ì˜ ìµœì €ê°€ : 1900.0
19 ìƒí’ˆTì˜ ìµœê³ ê°€ : 2000.0ì˜ ìµœì €ê°€ : 2000.0
20 ìƒí’ˆUì˜ ìµœê³ ê°€ : 2100.0ì˜ ìµœì €ê°€ : 2100.0
21 ìƒí’ˆVì˜ ìµœê³ ê°€ : 2200.0ì˜ ìµœì €ê°€ : 2200.0
22 ìƒí’ˆWì˜ ìµœê³ ê°€ : 2300.0ì˜ ìµœì €ê°€ : 2300.0
23 ìƒí’ˆXì˜ ìµœê³ ê°€ : 2400.0ì˜ ìµœì €ê°€ : 2400.0
24 ìƒí’ˆYì˜ ìµœê³ ê°€ : 2500.0ì˜ ìµœì €ê°€ : 2500.0
25 ìƒí’ˆZì˜ ìµœê³ ê°€ : 2600.0ì˜ ìµœì €ê°€ : 2600.0

* ê° ìƒí’ˆì˜ ê¸ˆì•¡ì´ ì •ìƒì ìœ¼ë¡œ ìˆ˜ì •ëëŠ”ì§€ í™•ì¸!
* skipna=True ì˜µì…˜

ê¸°ìˆ  í†µê³„ í•¨ìˆ˜ì—ì„œëŠ” skipna=Trueê°€ ê¸°ë³¸ìœ¼ë¡œ ì„¤ì • ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

ë§Œì•½, skipna=Falseë¡œ ì„¤ì •í•˜ê²Œ ëœë‹¤ë©´, NaN ê°’ì´ ìˆëŠ” columnì€ NaN ê°’ìœ¼ë¡œ ì¶œë ¥ ë©ë‹ˆë‹¤.

### 016. ê³ ê° ì´ë¦„ì˜ ì˜¤ë¥˜ë¥¼ ìˆ˜ì •í•˜ì

In [113]:

kokyaku_data["ê³ ê°ì´ë¦„"].head()

0    ê¹€ í˜„ì„±
1    ê¹€ ë„ìœ¤
2    ê¹€ ì§€í•œ
3    ê¹€ í•˜ìœ¤
4    ê¹€ ì‹œì˜¨
Name: ê³ ê°ì´ë¦„, dtype: object

In [114]:

uriage_data["customer_name"].head()

0    ê¹€ê°€ì˜¨
1    ê¹€ìš°ì°¬
2    ê¹€ìœ ì°¬
3    ê¹€ì¬í˜„
4    ê¹€ê°•í˜„
Name: customer_name, dtype: object

In [115]:

kokyaku_data["ê³ ê°ì´ë¦„"] = kokyaku_data["ê³ ê°ì´ë¦„"].str.replace(" ", "")  # ê³µë°± ë‘ì¹¸ë„ ì œê±°
kokyaku_data["ê³ ê°ì´ë¦„"] = kokyaku_data["ê³ ê°ì´ë¦„"].str.replace(" ", "")  # í•œì¹¸ ì œê±°
kokyaku_data["ê³ ê°ì´ë¦„"].head()

0    ê¹€í˜„ì„±
1    ê¹€ë„ìœ¤
2    ê¹€ì§€í•œ
3    ê¹€í•˜ìœ¤
4    ê¹€ì‹œì˜¨
Name: ê³ ê°ì´ë¦„, dtype: object

###  017. ë‚ ì§œ ì˜¤ë¥˜ë¥¼ ìˆ˜ì •í•˜ì

In [116]:
kokyaku_data["ë“±ë¡ì¼"]

0      2018-01-04 00:00:00
1                    42782
2      2018-01-07 00:00:00
3                    42872
4                    43127
              ...
195    2017-06-20 00:00:00
196    2018-06-20 00:00:00
197    2017-04-29 00:00:00
198    2019-04-19 00:00:00
199    2019-04-23 00:00:00
Name: ë“±ë¡ì¼, Length: 200, dtype: object

In [117]:

# ê³ ê° ëŒ€ì¥ì˜ ë“±ë¡ì¼ ì˜¤ë¥˜ ìˆ˜ì •
flg_is_serial = kokyaku_data["ë“±ë¡ì¼"].astype("str").str.isdigit()
flg_is_serial.sum()

22

* ì•¡ì…€ì—ì„œ ê°€ì ¸ì˜¨ê±°ë¼ ì„œì‹ì´ ì•ˆë§ìŒ. (ì—‘ì…€ì˜ ê²½ìš° ë‚ ì§œë¥¼ ì…ë ¥í•˜ë©´ `1900ë…„ 1ì›” 1ì¼ ì´í›„` ê²½ê³¼ëœ ì¼ìˆ˜ë¥¼ ì¶œë ¥)
* isdigit() ë©”ì†Œë“œ : ê° ë¬¸ìì—´ì˜ **`ëª¨ë“ `** ë¬¸ìê°€ ìˆ«ìì¸ì§€ í™•ì¸í•˜ëŠ” ë¬¸ìì—´ ë©”ì†Œë“œ

In [118]:
pd.to_timedelta(kokyaku_data.loc[flg_is_serial, "ë“±ë¡ì¼"].astype("float"), unit="D")

1     42782 days
3     42872 days
4     43127 days
21    42920 days
27    42901 days
47    42741 days
49    42929 days
53    42833 days
76    43188 days
80    43110 days
99    42885 days
114   43254 days
118   43129 days
122   43206 days
139   42880 days
143   42818 days
155   42754 days
172   43181 days
179   42743 days
183   42940 days
186   43294 days
192   43259 days
Name: ë“±ë¡ì¼, dtype: timedelta64[ns]

* timedelta
* ìˆ«ì -> ë‚ ì§œí˜•ì‹ìœ¼ë¡œ

In [119]:
pd.to_datetime("1900/01/01")

Timestamp('1900-01-01 00:00:00')

In [26]:

fromserial = pd.to_timedelta(kokyaku_data.loc[flg_is_serial, "ë“±ë¡ì¼"].astype("float"), unit="D") + pd.to_datetime("1900/01/01")
fromserial

1     2017-02-18
3     2017-05-19
4     2018-01-29
21    2017-07-06
27    2017-06-17
47    2017-01-08
49    2017-07-15
53    2017-04-10
76    2018-03-31
80    2018-01-12
99    2017-06-01
114   2018-06-05
118   2018-01-31
122   2018-04-18
139   2017-05-27
143   2017-03-26
155   2017-01-21
172   2018-03-24
179   2017-01-10
183   2017-07-26
186   2018-07-15
192   2018-06-10
Name: ë“±ë¡ì¼, dtype: datetime64[ns]

* pd.to_timedelta : ìˆ«ìë¥¼ ë‚ ì§œë¡œ ë³€ê²½í•´ì¤Œ

### â›”ï¸ ì—‘ì…€ì—ì„œ ë‚ ì§œë¥¼ ì½ì–´ ë“¤ì¼ ë•Œ ì£¼ì˜í•  ì 

* ì—‘ì…€ì˜ ë‚ ì§œ í˜•ì‹ì˜ ìˆ«ìë¥¼ ë‹¨ìˆœíˆ íŒŒì´ì¬ìœ¼ë¡œ ê³„ì‚°í•˜ë©´ 2ì¼ì´ ì–´ê¸‹ë‚¨.


* ì—‘ì…€ ë°ì´í„°ì˜ ì¶œë°œ ìˆ«ìëŠ” 1ë¶€í„° VS íŒŒì´ì¬ì€ 0ë¶€í„°
* ì—‘ì…€ì—ì„œ 1900/02/29ë¥¼ ìœ íš¨í•œ ë‚ ì§œë¡œ ê³„ì‚°í•¨(ì—‘ì…€ ë²„ê·¸) VS íŒŒì´ì¬ì—ì„œëŠ” 1900/02/29ë¼ëŠ” ë‚ ì§œëŠ” ì—†ìŒ.(ì¹´ìš´íŠ¸ ìì²´ê°€ ì•ˆë¨)

In [120]:

fromserial = pd.to_timedelta(kokyaku_data.loc[flg_is_serial, "ë“±ë¡ì¼"].astype("float") - 2, unit="D") + pd.to_datetime("1900/01/01")
fromserial

1     2017-02-16
3     2017-05-17
4     2018-01-27
21    2017-07-04
27    2017-06-15
47    2017-01-06
49    2017-07-13
53    2017-04-08
76    2018-03-29
80    2018-01-10
99    2017-05-30
114   2018-06-03
118   2018-01-29
122   2018-04-16
139   2017-05-25
143   2017-03-24
155   2017-01-19
172   2018-03-22
179   2017-01-08
183   2017-07-24
186   2018-07-13
192   2018-06-08
Name: ë“±ë¡ì¼, dtype: datetime64[ns]

* ë”°ë¼ì„œ, ì—‘ì…€ ìˆ«ìê°’ì—ì„œ -2ë¥¼ í•´ì¤˜ì•¼ ì •í™•í•œ ë‚ ì§œ ë°ì´í„°ë¡œ ì¶œë ¥.

In [121]:

fromstring = pd.to_datetime(kokyaku_data.loc[~flg_is_serial, "ë“±ë¡ì¼"])
fromstring

0     2018-01-04
2     2018-01-07
5     2017-06-20
6     2018-06-11
7     2017-05-19
         ...
195   2017-06-20
196   2018-06-20
197   2017-04-29
198   2019-04-19
199   2019-04-23
Name: ë“±ë¡ì¼, Length: 178, dtype: datetime64[ns]

In [122]:

# ë°ì´í„° ê²°í•©
kokyaku_data["ë“±ë¡ì¼"] = pd.concat([fromserial, fromstring])
kokyaku_data

    ê³ ê°ì´ë¦„  ì§€ì—­        ë“±ë¡ì¼
0    ê¹€í˜„ì„±  Hì‹œ 2018-01-04
1    ê¹€ë„ìœ¤  Eì‹œ 2017-02-16
2    ê¹€ì§€í•œ  Aì‹œ 2018-01-07
3    ê¹€í•˜ìœ¤  Fì‹œ 2017-05-17
4    ê¹€ì‹œì˜¨  Eì‹œ 2018-01-27
..   ...  ..        ...
195  ê¹€ì¬í¬  Gì‹œ 2017-06-20
196  ê¹€ë„ì˜  Eì‹œ 2018-06-20
197  ê¹€ì´ì•ˆ  Fì‹œ 2017-04-29
198  ê¹€ì‹œí˜„  Hì‹œ 2019-04-19
199  ê¹€ì„œìš°  Dì‹œ 2019-04-23

[200 rows x 3 columns]

In [123]:

# ë“±ë¡ì¼ -> í•˜ë˜ëŒ€ë¡œ ì›” ì¶”ì¶œ
kokyaku_data["ë“±ë¡ì—°ì›”"] = kokyaku_data["ë“±ë¡ì¼"].dt.strftime("%Y%m")
rlst = kokyaku_data.groupby("ë“±ë¡ì—°ì›”").count()["ê³ ê°ì´ë¦„"]
print(rlst)

ë“±ë¡ì—°ì›”
201701    15
201702    11
201703    14
201704    15
201705    14
201706    13
201707    17
201801    13
201802    15
201803    17
201804     5
201805    19
201806    13
201807    17
201904     2
Name: ê³ ê°ì´ë¦„, dtype: int64

In [124]:
len(kokyaku_data)

200

In [125]:

# ë“±ë¡ì¼ ì¹¼ëŸ¼ì— ìˆ«ì ë°ì´í„°ê°€ ì—¬ì „íˆ ë‚¨ì•„ ìˆëŠ”ì§€ í™•ì¸
flg_is_serial = kokyaku_data["ë“±ë¡ì¼"].astype("str").str.isdigit()
flg_is_serial.sum()

0

### 018. ê³ ê° ì´ë¦„ì„ í‚¤ë¡œ ë‘ ê°œì˜ ë°ì´í„°ë¥¼ ê²°í•©(ì¡°ì¸)í•˜ì

In [126]:

# ë‘ ê°œì˜ ë°ì´í„°ì˜ ì„œë¡œ ë‹¤ë¥¸ ì—´ì„ ì§€ì •í•´ì„œ ê²°í•© #-> pd.merge ì‚¬ìš© ì‹œ left_on, right_onìœ¼ë¡œ ì—´ ì´ë¦„ ë”°ë¡œ ì§€ì • 
join_data = pd.merge(uriage_data, kokyaku_data, left_on="customer_name", right_on="ê³ ê°ì´ë¦„", how="left")
join_data = join_data.drop("customer_name", axis=1)
join_data

,purchase_date,item_name,item_price,purchase_month,ê³ ê°ì´ë¦„,ì§€ì—­,ë“±ë¡ì¼,ë“±ë¡ì—°ì›”
0,2019-06-13 18:02:00,ìƒí’ˆA,100.0,201906,ê¹€ê°€ì˜¨,Cì‹œ,2017-01-26,201701
1,2019-07-13 13:05:00,ìƒí’ˆS,1900.0,201907,ê¹€ìš°ì°¬,Cì‹œ,2018-04-07,201804
2,2019-05-11 19:42:00,ìƒí’ˆA,100.0,201905,ê¹€ìœ ì°¬,Aì‹œ,2018-06-19,201806
3,2019-02-12 23:40:00,ìƒí’ˆZ,2600.0,201902,ê¹€ì¬í˜„,Dì‹œ,2018-07-22,201807
4,2019-04-22 03:09:00,ìƒí’ˆA,100.0,201904,ê¹€ê°•í˜„,Dì‹œ,2017-06-07,201706
...,...,...,...,...,...,...,...,...
2994,2019-02-15 02:56:00,ìƒí’ˆY,2500.0,201902,ê¹€ì •ë¯¼,Bì‹œ,2017-07-01,201707
2995,2019-06-22 04:03:00,ìƒí’ˆM,1300.0,201906,ê¹€ì¬ì›,Eì‹œ,2018-03-31,201803
2996,2019-03-29 11:14:00,ìƒí’ˆQ,1700.0,201903,ê¹€ì§€ìœ¨,Bì‹œ,2017-03-15,201703
2997,2019-07-14 12:56:00,ìƒí’ˆH,800.0,201907,ê¹€ìŠ¹ì£¼,Eì‹œ,2018-07-13,201807
2998,2019-07-21 00:31:00,ìƒí’ˆD,400.0,201907,ì •ì¤€ê¸°,Bì‹œ,2017-02-05,201702

### 019. ì •ì œí•œ ë°ì´í„°ë¥¼ ë¤í”„(ì¶œë ¥)í•˜ì

In [127]:
join_data.columns

Index(['purchase_date', 'item_name', 'item_price', 'purchase_month', 'ê³ ê°ì´ë¦„',
       'ì§€ì—­', 'ë“±ë¡ì¼', 'ë“±ë¡ì—°ì›”'],
      dtype='object')

In [128]:

dump_date = join_data[['purchase_date', 'purchase_month', 'item_name','item_price',
                       'ê³ ê°ì´ë¦„', 'ì§€ì—­', 'ë“±ë¡ì¼', 'ë“±ë¡ì—°ì›”']]

* purchase_dateì™€ purchase_monthëŠ” ê°€ê¹Œì´ ìˆëŠ” í¸ì´ ì¢‹ìŒ


* ì¦‰, ì¹¼ëŸ¼ ë°°ì¹˜ ì¡°ì • í›„ íŒŒì¼ë¡œ ì €ì¥í•˜ëŠ” ê²ƒì´ ì§ê´€ì ìœ¼ë¡œ ì´í•´í•˜ê¸° ì¢‹ë‹¤.

In [129]:

dump_date.to_csv("dump_data.csv", index=False)

* ì›ë³¸ ë°ì´í„°ì˜ ë³€ë™ì´ ì—†ëŠ” í•œ ì´ csvíŒŒì¼ë¡œ ë¶„ì„ ê°€ëŠ¥

### 020. ë°ì´í„°ë¥¼ ì§‘ê³„í•˜ì

In [130]:

import_data = pd.read_csv("dump_data.csv")
import_data

,purchase_date,purchase_month,item_name,item_price,ê³ ê°ì´ë¦„,ì§€ì—­,ë“±ë¡ì¼,ë“±ë¡ì—°ì›”
0,2019-06-13 18:02:00,201906,ìƒí’ˆA,100.0,ê¹€ê°€ì˜¨,Cì‹œ,2017-01-26 00:00:00,201701
1,2019-07-13 13:05:00,201907,ìƒí’ˆS,1900.0,ê¹€ìš°ì°¬,Cì‹œ,2018-04-07 00:00:00,201804
2,2019-05-11 19:42:00,201905,ìƒí’ˆA,100.0,ê¹€ìœ ì°¬,Aì‹œ,2018-06-19 00:00:00,201806
3,2019-02-12 23:40:00,201902,ìƒí’ˆZ,2600.0,ê¹€ì¬í˜„,Dì‹œ,2018-07-22 00:00:00,201807
4,2019-04-22 03:09:00,201904,ìƒí’ˆA,100.0,ê¹€ê°•í˜„,Dì‹œ,2017-06-07 00:00:00,201706
...,...,...,...,...,...,...,...,...
2994,2019-02-15 02:56:00,201902,ìƒí’ˆY,2500.0,ê¹€ì •ë¯¼,Bì‹œ,2017-07-01 00:00:00,201707
2995,2019-06-22 04:03:00,201906,ìƒí’ˆM,1300.0,ê¹€ì¬ì›,Eì‹œ,2018-03-31 00:00:00,201803
2996,2019-03-29 11:14:00,201903,ìƒí’ˆQ,1700.0,ê¹€ì§€ìœ¨,Bì‹œ,2017-03-15 00:00:00,201703
2997,2019-07-14 12:56:00,201907,ìƒí’ˆH,800.0,ê¹€ìŠ¹ì£¼,Eì‹œ,2018-07-13 00:00:00,201807
2998,2019-07-21 00:31:00,201907,ìƒí’ˆD,400.0,ì •ì¤€ê¸°,Bì‹œ,2017-02-05 00:00:00,201702

In [131]:

# purhcase_monthë¥¼ ì„¸ë¡œì¶•ìœ¼ë¡œ, item_nameì„ ê°€ë¡œì¶•ìœ¼ë¡œ
byitem = import_data.pivot_table(index="purchase_month", columns="item_name", 
                                 aggfunc="size", fill_value=0)
byitem

item_name,ìƒí’ˆA,ìƒí’ˆB,ìƒí’ˆC,ìƒí’ˆD,ìƒí’ˆE,ìƒí’ˆF,ìƒí’ˆG,ìƒí’ˆH,ìƒí’ˆI,ìƒí’ˆJ,...,ìƒí’ˆQ,ìƒí’ˆR,ìƒí’ˆS,ìƒí’ˆT,ìƒí’ˆU,ìƒí’ˆV,ìƒí’ˆW,ìƒí’ˆX,ìƒí’ˆY,ìƒí’ˆZ
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,18,13,19,17,18,15,11,16,18,17,...,17,21,20,17,7,22,13,14,10,0
201902,19,14,26,21,16,14,14,17,12,14,...,22,22,22,23,19,22,24,16,11,1
201903,17,21,20,17,9,27,14,18,12,16,...,23,16,20,12,23,18,16,21,16,0
201904,17,19,24,20,18,17,14,11,18,13,...,20,20,16,16,11,15,14,16,20,0
201905,24,14,16,14,19,18,23,15,16,11,...,13,22,18,16,16,9,21,16,20,0
201906,24,12,11,19,13,18,15,13,19,22,...,15,16,21,12,18,20,17,15,13,0
201907,20,20,17,17,12,17,19,19,19,23,...,15,19,23,21,13,28,16,18,12,0

* ìƒí’ˆì´ A~Zê¹Œì§€ ì •í™•í•˜ê²Œ êµ¬ì… ì—°ì›”ë³„ë¡œ ì§‘ê³„ë¨.

In [132]:

# purhcase_monthë¥¼ ì„¸ë¡œì¶•ìœ¼ë¡œ, item_nameì„ ê°€ë¡œì¶•ìœ¼ë¡œ
# ì§‘ê³„ì¹¼ëŸ¼ì„ item_priceìœ¼ë¡œ
byprice = import_data.pivot_table(index="purchase_month", columns="item_name", 
                                  values="item_price", aggfunc="sum", fill_value=0)
byprice

item_name,ìƒí’ˆA,ìƒí’ˆB,ìƒí’ˆC,ìƒí’ˆD,ìƒí’ˆE,ìƒí’ˆF,ìƒí’ˆG,ìƒí’ˆH,ìƒí’ˆI,ìƒí’ˆJ,...,ìƒí’ˆQ,ìƒí’ˆR,ìƒí’ˆS,ìƒí’ˆT,ìƒí’ˆU,ìƒí’ˆV,ìƒí’ˆW,ìƒí’ˆX,ìƒí’ˆY,ìƒí’ˆZ
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1800,2600,5700,6800,9000,9000,7700,12800,16200,17000,...,28900,37800,38000,34000,14700,48400,29900,33600,25000,0
201902,1900,2800,7800,8400,8000,8400,9800,13600,10800,14000,...,37400,39600,41800,46000,39900,48400,55200,38400,27500,2600
201903,1700,4200,6000,6800,4500,16200,9800,14400,10800,16000,...,39100,28800,38000,24000,48300,39600,36800,50400,40000,0
201904,1700,3800,7200,8000,9000,10200,9800,8800,16200,13000,...,34000,36000,30400,32000,23100,33000,32200,38400,50000,0
201905,2400,2800,4800,5600,9500,10800,16100,12000,14400,11000,...,22100,39600,34200,32000,33600,19800,48300,38400,50000,0
201906,2400,2400,3300,7600,6500,10800,10500,10400,17100,22000,...,25500,28800,39900,24000,37800,44000,39100,36000,32500,0
201907,2000,4000,5100,6800,6000,10200,13300,15200,17100,23000,...,25500,34200,43700,42000,27300,61600,36800,43200,30000,0

In [133]:

# purhcase_monthë¥¼ ì„¸ë¡œì¶•ìœ¼ë¡œ, ê³ ê°ì´ë¦„ì„ ê°€ë¡œì¶•ìœ¼ë¡œ
bycustomer = import_data.pivot_table(index="purchase_month", columns="ê³ ê°ì´ë¦„", 
                                     aggfunc="size", fill_value=0)
bycustomer

ê³ ê°ì´ë¦„,ê¹€ê°€ì˜¨,ê¹€ê°•ë¯¼,ê¹€ê°•í˜„,ê¹€ê±´ìš°,ê¹€ê±´í¬,ê¹€ê²½ë¯¼,ê¹€ê·œë¯¼,ê¹€ê·œí˜„,ê¹€ë‹¤ì˜¨,ê¹€ëŒ€í˜„,...,ê¹€í˜„ìˆ˜,ê¹€í˜„ìŠ¹,ê¹€í˜„ìš°,ê¹€í˜„ì¤€,ê¹€í˜„ì§„,ê¹€í˜¸ì¤€,ì •ë„í˜•,ì •ì˜í›ˆ,ì •ìš°ì„,ì •ì¤€ê¸°
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1,2,1,2,5,3,1,1,1,5,...,3,2,4,2,1,1,4,4,4,3
201902,3,1,4,3,3,5,2,3,1,5,...,5,3,7,0,0,1,2,0,2,2
201903,4,0,3,1,1,2,2,1,1,5,...,3,2,1,2,1,2,1,2,3,4
201904,1,0,3,0,2,1,2,6,2,4,...,0,4,3,1,1,2,2,4,3,1
201905,0,0,2,2,1,4,6,3,3,1,...,2,2,1,4,3,0,0,0,1,2
201906,5,0,3,0,2,1,6,1,1,1,...,2,4,1,0,4,2,2,0,0,2
201907,3,1,3,2,2,1,4,1,4,3,...,2,1,0,4,0,2,6,1,2,3

In [134]:

# purhcase_monthë¥¼ ì„¸ë¡œì¶•ìœ¼ë¡œ, ì§€ì—­ì„ ê°€ë¡œì¶•ìœ¼ë¡œ
byregion = import_data.pivot_table(index="purchase_month", columns="ì§€ì—­", 
                                   aggfunc="size", fill_value=0)
byregion

ì§€ì—­              Aì‹œ  Bì‹œ  Cì‹œ  Dì‹œ  Eì‹œ  Fì‹œ  Gì‹œ  Hì‹œ
purchase_month
201901          59  55  72  34  49  57  49  42
201902          71  46  65  48  61  52  43  63
201903          64  52  57  43  52  59  51  59
201904          64  48  54  45  48  58  40  52
201905          57  52  68  48  59  65  35  43
201906          53  47  61  30  51  51  58  58
201907          76  53  61  42  54  64  47  54

In [135]:

away_data = pd.merge(uriage_data, kokyaku_data, left_on="customer_name", right_on="ê³ ê°ì´ë¦„", how="right")
away_data[away_data["purchase_date"].isnull()]

,purchase_date,item_name,item_price,customer_name,purchase_month,ê³ ê°ì´ë¦„,ì§€ì—­,ë“±ë¡ì¼,ë“±ë¡ì—°ì›”
2999,NaT,NaN,NaN,NaN,NaN,ê¹€ì„œìš°,Dì‹œ,2019-04-23,201904

In [136]:

away_data[away_data["purchase_date"].isnull()][["ê³ ê°ì´ë¦„", "ë“±ë¡ì—°ì›”"]]

     ê³ ê°ì´ë¦„    ë“±ë¡ì—°ì›”
2999  ê¹€ì„œìš°  201904

* ì§‘ê³„ ê¸°ê°„ì— êµ¬ë§¤ ì´ë ¥ì´ ì—†ëŠ” ì‚¬ìš©ì í™•ì¸ -> ì¦‰, ì´íƒˆ ê³ ê°ìœ¼ë¡œ ë³¼ ìˆ˜ ìˆìŒ.